<body>

  <h1>Github Api</h1>

  <p>Enter a Github profile handle you want to checkout:</p>

  <form action="/github_handle" method="post">
    <input type="text" name="github_handle">
    <input type="submit" value="Get Info">
  </form>

</body>
